@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}


<body>
    <div>
        <img class="wave" src="/images/LoginRegsiterPage/wave.png">
        <div class="container">
            <div class="img">
                <img src="/images/LoginRegsiterPage/bg.png">
            </div>
            <div class="login-content">
                <form id="ForgotPasswordForm" name="ForgotPasswordForm" enctype="multipart/form-data" method="post">
                    <img src="/images/LoginRegsiterPage/avatar.svg">
                    <h3 class="title">Forgot Password</h3>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <input type="email" class="input" id="Email" name="Email" placeholder="Enter Your Email ID" required>
                        </div>
                    </div>
                    <input type="submit" class="btn" value="Send OTP">
                    <a asp-controller="User" asp-action="Login">Go Back to Login Page</a>
                </form>
            </div>
        </div>
    </div>
</body>



<!--
<link rel="stylesheet" href="~/css/LoginRegisterStyles.css" asp-append-version="true" />

<body>
    <div id="container">
        <form id="ForgotPasswordForm" name="ForgotPasswordForm" enctype="multipart/form-data" method="post">

            <div class="form-wrap">
                <h2>Reset Your Password</h2>
                <div class="form-group">
                    <label for="Email">Email ID</label>
                    <input type="text" id="Email" name="Email" /> 
                </div>
                <button type="submit">Send OTP</button>
        </form>
    </div>
</body>-->
