@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<script>
    function validatePassword() {
        var password = document.getElementById("Password").value;
        //var paswd = /^(?=.*[0-9])(?=.*[!@@#$%^&*])[a-zA-Z0-9!@@#$%^&*]{7,15}$/;
        if (password.length < 6) {
            Password.setCustomValidity("Password must be atleast 8 characters long.");
            return true;
        }
        else {
            Password.setCustomValidity('');
            return false;
        }
    }

    function validateForm() {
        validatePassword();
    }

</script>

<body>
    <div>
        <img class="wave" src="/images/LoginRegsiterPage/wave.png">
        <div class="container">
            <div class="img">
                <img src="/images/LoginRegsiterPage/bg.png">
            </div>
            <div class="login-content">
                <form id="LoginForm" name="LoginForm" enctype="multipart/form-data" method="post">
  
                    <img src="/images/LoginRegsiterPage/avatar.svg">

                    @if (TempData.ContainsKey("message"))
                    {
                        <h5>@TempData["message"]</h5>
                    }

                    <h2 class="title">Welcome</h2>
                    <div class="input-div one">

                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">

                            <input type="email" class="input" id="Email" name="Email" placeholder="Email ID" required>
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">

                            <input type="password" class="input" id="Password" name="Password" placeholder="Password" required>
                        </div>
                    </div>

                    <a asp-controller="User" asp-action="ForgotPassword">Forgot Password?</a>
                    <input type="submit" class="btn" value="Login" onclick="validateForm()">
                    <a asp-controller="User" asp-action="Register">New Here? Sign Up Now!!!</a>
                </form>
            </div>
        </div>
    </div>
</body>