@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}

<style>
    input[type=number] {
        height: 40px;
        width: 40px;
        font-size: 20px;
        text-align: center;
        border: 1px solid #000000;
    }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
</style>

<script>
    function getCodeBoxElement(index) {
        return document.getElementById('codeBox' + index);
    }
    function onKeyUpEvent(index, event) {
        const eventCode = event.which || event.keyCode;
        if (getCodeBoxElement(index).value.length === 1) {
            if (index !== 6) {
                getCodeBoxElement(index + 1).focus();
            } else {
                getCodeBoxElement(index).blur();
                // Submit code
                console.log('submit code ');
            }
        }
        if (eventCode === 8 && index !== 1) {
            getCodeBoxElement(index - 1).focus();
        }
    }
    function onFocusEvent(index) {
        for (item = 1; item < index; item++) {
            const currentElement = getCodeBoxElement(item);
            if (!currentElement.value) {
                currentElement.focus();
                break;
            }
        }
    }
</script>

<script>
    function validateOtp() {

        var otp = 0;

        for (i = 1; i < 7; i++) {
            otp = otp + document.getElementById('codeBox' + i).value;
        }

        otp = parseInt(otp);

        document.getElementById("otp").value = otp;
        console.log(document.getElementById("otp").value);

        //  alert(document.getElementById("otp").value);

        //if (otp.value < 100000 || otp.value > 999999) {
        //    OTP.setCustomValidity("OTP must be 6 digits long");
        //}
        //else {
        //    OTP.setCustomValidity('');
        //}
    }

    function validateForm() {
        getEmail();
        validateOtp();
    }


    function getEmail() {
        document.getElementById('email').value = localStorage.getItem("emailId");
        //console.log();
        return true;
    }

</script>


<body>
    <div>
        <img class="wave" src="/images/LoginRegsiterPage/wave.png">
        <div class="container">
            <div class="img">
                <img src="/images/LoginRegsiterPage/bg.png">
            </div>

            <div class="login-content">
                <form id="RegistrationOtpForm" name="RegistrationOtpForm" enctype="multipart/form-data" method="post">
                    <h4 style="color : green">OTP has been sent to your registered email address.</h4>


                    <img src="/images/LoginRegsiterPage/avatar.svg">
                    <h3 class="title">Verify OTP to Complete Registration</h3>
                    @if (TempData.ContainsKey("message"))
                    {
                        <h5>@TempData["message"]</h5>
                    }

                    <input type="number" class="input" id="otp" name="otp" placeholder="Enter Your OTP" hidden="hidden">

                    <input id="codeBox1" type="number" maxlength="1" onkeyup="onKeyUpEvent(1, event)" onfocus="onFocusEvent(1)" required />
                    <input id="codeBox2" type="number" maxlength="1" onkeyup="onKeyUpEvent(2, event)" onfocus="onFocusEvent(2)" required />
                    <input id="codeBox3" type="number" maxlength="1" onkeyup="onKeyUpEvent(3, event)" onfocus="onFocusEvent(3)" required />
                    <input id="codeBox4" type="number" maxlength="1" onkeyup="onKeyUpEvent(4, event)" onfocus="onFocusEvent(4)" required />
                    <input id="codeBox5" type="number" maxlength="1" onkeyup="onKeyUpEvent(5, event)" onfocus="onFocusEvent(5)" required />
                    <input id="codeBox6" type="number" maxlength="1" onkeyup="onKeyUpEvent(6, event)" onfocus="onFocusEvent(6)" required />


                    <input type="text" id="email" name="email" placeholder="Enter Your OTP" value='@TempData["email"]' hidden="hidden">

                    <input type="submit" class="btn" value="Verify OTP" onclick="validateForm()">
                    <input type="button" class="btn" value="Resend OTP" onclick="ResendOTP()"> <!--Writer Using Ajax-->

                    <a asp-controller="User" asp-action="Login">Go Back to Login Page</a>

                </form>
            </div>

        </div>
    </div>
</body>

