@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}


<script>

    function validatePassword() {

        var password = document.getElementById("NewPassword");
        var confirm_password = document.getElementById("ConfirmPassword");

        if (password.value != confirm_password.value) {
            ConfirmPassword.setCustomValidity("Passwords Don't Match");

        } else {
            ConfirmPassword.setCustomValidity('');
        }
    }

    function validateOtp() { 

        var otp = document.getElementById("Otp");

        if (Otp.value < 100000 || Otp.value > 999999) {
            Otp.setCustomValidity("OTP must be 6 digits long");

        }
        else {
             Otp.setCustomValidity('');
        }
    }

    function validateForm(){
        validateOtp();
        validatePassword();
    }

</script>

<body>
    <div>
        <img class="wave" src="/images/LoginRegsiterPage/wave.png">
        <div class="container">
            <div class="img">
                <img src="/images/LoginRegsiterPage/bg.png">
            </div>
            <div class="login-content">
                <form id="LoginForm" name="LoginForm" enctype="multipart/form-data" method="post">
                    @if (TempData.ContainsKey("message"))
                    {
                        <h5>@TempData["message"]</h5>
                    }
                    <h4 style="color : green">OTP has been sent to your registered email address.</h4>

                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                            <input type="text" class="input" id="Email" name="Email" value="@TempData["Email"]" readonly />
                        </div>
                    </div>

                    <div class="input-div one">
                        <div class="i">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </div>
                        <div class="div">
                            <input type="number" class="input" id="Otp" name="Otp" placeholder="Enter OTP" required>
                        </div>
                    </div>


                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">

                            <input type="password" class="input" id="NewPassword" name="NewPassword" placeholder="New Password" required>
                        </div>
                    </div>

                    <div class="input-div pass">
                        <div class="i">
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">

                            <input type="password" class="input" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm New Password" required>
                        </div>
                    </div>
                    <input type="submit" class="btn" value="Set New Password" onclick="validateForm()">
                </form>
            </div>
        </div>
    </div>
</body>

