@model IEnumerable<PhotosWebApp.Models.Dashboard.UserImages>
@{
    Layout = "dashboardLayout";
    ViewData["Title"] = "Index";
    
}

@if (Model == null)
{
    <center>
        <img src="~/images/nulldata.png" class="img-fluid" alt="..."></center>
}
else{
    
  
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button"
                    data-mdb-target="#carouselBasicExample"
                    data-mdb-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner" style="height:500px;">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="~/images/carousel/hd-wallpaper-gb525325e6_1920.jpg" class="d-block w-100" alt="Sunset Over the City" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="~/images/carousel/mountains-ga85e13e78_1280.jpg" class="d-block w-100" alt="Canyon at Nigh" />

            </div>

            <!-- Single item -->
            <div class="carousel-item">
                <img src="~/images/carousel/pexels-sebastian-beck-2397262.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea" />

            </div>

        </div>
        <!-- Inner -->
        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <ul class="gallery">
@foreach(var item in Model){
    <li class="card-item">
        <form action="Dashboard/deleteImage" method="post" >
            <input type="hidden" name="Id" value="@item.Id">
            <input type="hidden" name="file" value="@item.UserImage">
        <button type="submit">
            <figure class="card">
                <img src="@item.UserImage" alt="@item.Id" >
                <figcaption></figcaption>
                
            </figure>
        </button>
                </form>
    </li>
    }
    </ul>

    
}



@*
    <img src="https://i.pinimg.com/originals/1d/0e/b2/1d0eb2c1322c0de91cfd024d477f8d60.jpg" class="slide" width="100%" height="300" />
            <img src="https://w0.peakpx.com/wallpaper/165/747/HD-wallpaper-beautiful-landscape-digital-art.jpg" class="slide" width="100%" height="300" />
            <img src="https://images.hdqwalls.com/download/landscape-trees-mountains-clouds-digital-art-38-1920x1080.jpg" class="slide" width="100%S" height="300" />
        </div>
*@
