@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins';
    background-color: #ECEDEF;
    color: #fff;
    line-height: 1.8;
}

.form {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

a {
    text-decoration: none;
}

#container {
    margin: 15px auto;
    max-width:75%;
    padding: 20px;
}

.form-wrap {
    background-color: #fff;
    padding: 15px 25px;
    color: #333;
    border-top: 4px solid #49c1a2;
    border-radius: 05px;
}

    .form-wrap h1,
    .form-wrap p {
        text-align: center;
    }

    .form-wrap .form-group {
        margin-top: 15px;
    }

        .form-wrap .form-group label {
            display: block;
            color: #666;
        }

        .form-wrap .form-group input {
            width: 100%;
            padding: 5px;
            border: #ddd 1px solid;
            border-radius: 5px;
        }

    .form-wrap button {
        display: block;
        width: 100%;
        padding: 10px;
        margin-top: 20px;
        background-color: #49c1a2;
        color: #fff;
        cursor: pointer;
        border: 1px solid #49c1a2;
        font-family: 'poppins';
        font-size: 15px;
        transition: 1s;
    }

        .form-wrap button:hover {
            background-color: #37a08e;
            transition: 1s;
        }

    .form-wrap .bottom-text {
        font-size: 13px;
        margin-top: 20px;
    }

footer {
    text-align: center;
    margin-top: 10px;
    color: #333;
}

    footer a {
        color: #49c1a2
    }

h1 {
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.image-preview-container {
    width: 25%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem;
    border-radius: 50%;
}

    .image-preview-container img {
        width: 100%;

        height: 100%;
        border-radius: 50%;
    }

    .image-preview-container input {
        display: none;
    }

    .image-preview-container label {
        display: block;
        width: 45%;
        height: 45px;
        margin-left: 25%;
        text-align: center;
        background: #49c1a2;
        color: #fff;
        font-size: 10px;
        text-transform: Uppercase;
        font-weight: 400;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

